@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --fundo: rgb(240, 212, 212);
    --laranja-claro-fundo: #f5b883;
    --laranja-claro: #F2811D;
    --laranja-escuro: #E35B49;
    --vermelho: #d3130f;
    --amarelo: #F1C570;
    --cinza: #8C8C8C;
    --background: rgb(248, 248, 248);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
  }