@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --fundo: rgb(240, 212, 212);
    --laranja-claro-fundo: #f5b883;
    --laranja-claro: #F2811D;
    --laranja-escuro: #E35B49;
    --vermelho: #d3130f;
    --amarelo: #F1C570; 
    --cinza: #8C8C8C;
    --background: rgb(248, 248, 248);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    background-color: var(--background);
    font-family: "Poppins",sans-serif;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px 5px 60px;
  background-color: var(--laranja-claro);
      /*Menu fixo*/
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99; /*não passa itens em cima do menu*/
  }


.inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 50px;
  color: var(--amarelo);
  font-family: 'Alex Brush', cursive;
}

.emote {
  border-radius: 50%;
  border: 2px solid var(--amarelo);
}

.menu-item {
  font-size: 16px;
  color: var(--background);
  margin-right: 20px;
}

.menu-item:hover {
  color: var(--amarelo);
}

.avatar {
    width: 500px;
}

.descricao {
  margin-top: 72px;
  padding-top: 50px;
  border-top: 5px solid var(--amarelo);
  border-bottom: 80px solid var(--amarelo);
}

.descricao-principal {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.descricao-principal-itens {
  margin: 30px 30px 30px 380px;

  text-align: center;
  color: var(--cinza);
  max-width: 700px;
  align-items: center;
}

.descricao-principal-itens h1 {
  color: var(--laranja-claro);
  font-size: 50px;
  font-family: 'Alex Brush', cursive;
}

/*INÍCIO BOTÃO ME ADICIONE*/
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }
 /*FIM BOTÃO ME ADICIONE*/ 


 /* POSTS INSTAGRAM*/

.posts-insta {
  padding-top: 4em;
}

.animacao{

  color: var(--laranja-escuro);
  font-size: 70px;
  overflow: hidden;
  text-align: center;
}
.frase{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

}
.frase:first-of-type{
  animation: appear 6s infinite;
}
.frase:last-of-type{
  animation: reveal 6s infinite;
}
.frase:last-of-type span{
  font-size: 50px;
  color: var(--laranja-claro);
  animation: slide 6s infinite;
}
@keyframes appear{
  0%{opacity: 0;}
  20%{opacity: 1;}
  80%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes slide{
  0%{margin-left:-800px;}
  20%{margin-left:-800px;}
  35%{margin-left:0px;}
100%{margin-left:0px;}
}
@keyframes reveal{
  0%{opacity: 0; width: 0px;}
  20%{opacity: 1; width: 0px;}
  30%{width: 450px;}
  80%{opacity: 1;}
  100%{opacity: 0; width: 450px;}
}

.posts-img {
  position: relative;
  display: flex;
  justify-content:space-evenly;
  margin: 0 10em 0 10em;

}

/*INÍCIO MENU DE PERGUNTAS*/
.dropdown {
    padding: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown h2 {
  font-size: 40px;
  padding-bottom: 30px;
  color: var(--laranja-claro);
}

.dropdown p, ol{
    color: var(--laranja-claro);
    text-align: justify;
    padding: 5px 100px 5px 40px;
}

.duvida {
    border-bottom: 2px solid var(--laranja-claro);
    padding: 10px 0;
    text-align: center;
  }
  
  .duvida input, .duvida .resposta { 
    display: none; 
}
  
  .duvida label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%
  }
  
  .duvida input:checked ~ .resposta {
    display: block;
    margin-left: 30px;
  }

  .resposta p {
    text-align: center;
    max-width: 900px;
  }

  .resposta a {
    color: var(--cinza);
  }

  /*FIM MENU DE PERGUNTAS*/



.divisoria {
  background-color: var(--laranja-claro);
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  padding: 30px 0 30px 0;
}

p.gray {
  font-size: 16px;
  color: #575455;
}


h2.black {
  font-size: 30px;
  line-height: 24px;
  color: #000;
}
h1.white {
  font-size: 40px;
  color: #fff;
}

.servicos img {
  border-radius: 30%;
}

.caixa {
  margin: 20px auto;
  width: 350px;
  height: 350px;
  padding: 80px 0px 80px 0px;
  background-color: var(--laranja-claro-fundo);
  border-radius: 20%;
  animation: moveToLeft 6s linear infinite;
  animation-delay: 1000ms;
}


@keyframes moveToLeft {

  75% {
    transform: translateX(0px) translateY(0px);
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
}



.servicos h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #070F18;
}



  /* INÍCIO CARROSSEL*/

.box {
  height: 100%;
  width: 100%;
  display: block;
  border: 2px solid transparent;
  transition: border 0.3s;
  cursor: pointer;
}

.box:hover {
  border: 2px solid white;
  cursor: pointer;
}

.carrossel-titulo {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 10px;
}

.carrossel-titulo2 {
  text-align: center;
  color: var(--laranja-claro);
  font-size: 40px;
  padding-bottom: 60px;
}

.carrossel {
  background-color: #000;
  padding: 40px;
}

.carrossel:hover {
  border: none;
  transition: width 2s;
  cursor: pointer;
  transition: .3s ease all;
}
/*FIM CARROSSEL*/


  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--laranja-claro);
    color: var(--background);
    padding: 50px;
    font-size: 18px;
  }

  footer a {
    color: var(--amarelo);
  }

  footer a:hover {
    color: var(--background);
  }

  footer .credito {
    margin-top: 40px;
    text-align: center;
  }

  footer .sociais {
    display: flex;
    flex-direction: column;
  }


  /*EFEITO CORAÇÃO*/
  footer .credito i:hover {
    color: var(--vermelho);
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
  }
  /*FIM DO EFEITO CORAÇÃO*/



  /*-----------------------------//// GALERIA //// --------------------------------------------*/

  .body-galeria {
    background-color: #000;
  }

  /*Copiei css do menu, para tirar o z-index e a visualização da imagem aberta ficar em cima do nav*/
  .cabecalho-galeria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px 5px 60px;
    background-color: var(--laranja-claro);
        /*Menu fixo*/
        position: fixed;
        top: 0;
        width: 100%;
    }

    /*Menu com tipos dos desenhos*/
    .nav {
      color: var(--background);
      font-family: 'Poppins', sans-serif;
      gap: 20px;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      padding-right: 290px;
    }
  
  .nav ul {
      display: flex;
      flex-direction: row;
      gap: 10px;
  }
  
  .nav ul li {
      color: var(--background);
      font-size: 18px;
      height: 45px;
      width: 160px;
      border: 2px solid var(--background);
      border-radius: 50px;
  
      display: flex;
      align-items: center;
      justify-content: center;
  } 
  
  .nav ul li:hover {
      background-color: var(--laranja-claro);
      color: #000;
      transition: 0.2s;
      cursor: pointer;
  }
  
  .nav ul li:active {
      background-color: var(--laranja-claro-fundo);
      color: var(--vermelho);
  }

  .ul-galeria {
    padding: 5px 60px 5px 60px;
  }

  .galeria-titulo {
    padding-top: 120px;
    font-family: "Poppins",sans-serif;
    color: var(--amarelo);
    text-align: center;
    font-size: 3em;
  }

  .avisos { 
    margin: 5em 25em 0em 25em;
    text-align: center;
    border: 2px solid var(--background);
    padding: 50px 30px 50px 30px;
  }

  .avisos h3 {
    color: var(--laranja-claro);
  }

  .avisos p {
    color: var(--background);
    font-size: 18px;
  }

  .tipos-desenho {
    color: var(--background);
    font-size: 2em;
    margin: 200px 0px 0px 400px;
    }


  hr {
    width: 400px;
    margin-left: 420px;
  }

    .galeria p {
    text-align: left;
    padding: 30px 420px 0px 420px;
    font-size: 25px;
    color: var(--background);
  }

  .galeria h6 {
    color: var(--background);
    padding: 30px 420px 0px 420px;
    font-size: 18px;
    text-align: justify;
    font-style:normal;
  }

  .galeria .aviso-emotes {
    color: var(--background);
    text-align: center;
    padding: 30px 420px 0px 420px;
    font-size: 15px;
    font-style: italic;
  }

  .galeria .detalhes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 420px 40px 420px;
  }

  .detalhes h4 {
    color: var(--laranja-claro);
    text-align: center;
  }

  .galeria .div-emote {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .preco-emote p {
    text-align: center;
    padding: 30px 0px 0px 480px;
    font-size: 20px;
  }

  .preco-chibi p {

    text-align: center;
    padding: 45px 450px 0px 0px;
    font-size: 20px;
  }


  .preco-emote h2, .preco-chibi h2 {
    background-color: var(--laranja-claro);
    padding: 15px;
    text-align: center;
    width: 170px;
  }

  .preco-emote h2 {
    margin-left: 550px;
  }

  .preco-chibi h2 {
    margin-left: 80px;
  }

  #produtos i{
    color: var(--background);
  }


/* CSS das imagens abertas*/
  ul{
    width: 880px;
    list-style:none;
    display: flex;
    margin: 70px auto;
   }

   .min{
    width: 200px;
    padding: 10px;
    display: block;
   }

   .min:hover {
    transform: scale(1.5);
    transition: 0.3s;
   }

   .lbox{
    display: none;
    align-items: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
   }

   .lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(10,10,10,0.7);
    position:fixed;
    display: block;
   }

   .box_img {
    width: 1000px;
    margin: 0px auto;
   }

   .btn{
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
   }

   #prev {
    left: 5%;
    top: 45%;
   }

   #next {
    right: 5%;
    top: 45%;
   }

   #close {
    right: 2%;
    top: 2%;
   }

   .box_img img{
    opacity: 0;
   }

   .lbox:target .box_img img{
    width: 80%;
    margin-left: 100px;
    margin-top: 10px;
    opacity: 1;
    transition: opacity .4s linear;
   }

   /*FIM CSS IMAGENS ABERTAS*/ 


   /* BOTÃO JS VOLTAR AO TOPO */


#voltar-ao-topo {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  padding: 15px;
  background-color: var(--laranja-claro-fundo);
  color: var(--vermelho);
  border: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#voltar-ao-topo:hover {
    background-color: var(--laranja-claro);
    color: var(--background);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}


   /*--------------------------- PAGAMENTO ---------------------------*/


