@media screen and (min-width:360px) and (max-width:767px) {

    header p,
    header img,
    .cabecalho-galeria p,
    .cabeçalho-galeria img {
        display: none;
    }

    .cabecalho,
    .cabecalho-galeria {
        justify-content: flex-start;
        padding: 35px;
        position: relative;
        z-index: 0;
    }

    .cabecalho #menu,
    .cabecalho-galeria #menu {
        padding-top: 20px;
    }

    .cabecalho .menu-item,
    .cabecalho-galeria .menu-item {
        display: block;
        font-size: 18px;
        padding: 5px 0;
    }
}

/* Ajuste do menu nas páginas Sobre - Galeria - Pagamento - Prazos - Termos - Contato */