@media screen and (min-width:360px) and (max-width:767px) {

  /* INÍCIO */

  .avatar {
    width: 300px;
    padding-top: 40px;
  }

  .descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .descricao-itens {
    margin: 0;
  }

  .divisoria {
    flex-wrap: wrap;
  }

  .servicos {
    padding-bottom: 30px;
  }

  .frase:first-of-type {
    font-size: 60px;
  }

  .frase:last-of-type span {
    font-size: 30px;
  }

  @keyframes slide {
    0% {
      margin-left: -600px;
    }

    20% {
      margin-left: -600px;
    }

    35% {
      margin-left: 0px;
    }

    100% {
      margin-left: 0px;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }

    20% {
      opacity: 1;
      width: 0px;
    }

    30% {
      width: 350px;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      width: 350px;
    }
  }

  .posts-img {
    flex-wrap: wrap;
    margin: 0 1em 0 1em;
  }

  .dropdown h2 {
    text-align: center;
  }

  /* Página SOBRE */

  .descricao-sobre {
    margin: 0px 20px;
  }

  .titulo-sobre {
    padding: 60px 0px;
    text-align: center;
  }

  .bloco-descricao {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: justify;
  }

  .descricao-processo {
    width: 85vw;
  }

  .descricao-processo ol {
    text-align: justify;
    padding: 5px 30px;
  }

  .descricao-imagem img {
    width: 75vw;
  }

  .sobre-detalhes {
    padding: 80px 60px;
  }

  .sobre-detalhes p {
    padding-bottom: 20px;
  }

  .sobre-detalhes-img {
    flex-wrap: wrap;
  }

  .detalhes-resumo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .bloco-resumo {
    max-width: 75%;
  }

  .bloco-resumo img {
    width: 100%;
  }


  /* Página GALERIA */

  .galeria-titulo {
    font-size: 35px;
    padding-top: 80px;
  }

  /*Menu com tipos dos desenhos*/
  .nav {
    gap: 10px;
    padding: 0;
    margin: 35px 0 25px 0;
  }

  .nav .ul-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav ul li {
    height: 35px;
    width: 140px;
    font-size: 14px;
  }

  .medidas img {
    max-width: 360px;
  }

  .avisos {
    margin: 1em 1em 0em 1em;
  }

  .avisos ol {
    padding: 5px 40px;
  }

  .tipos-desenho {
    font-size: 18px;
    margin: 40px 0px 0px 20px;
  }

  hr {
    width: 150px;
    margin-left: 30px;
  }

  .galeria p,
  .galeria h6,
  .galeria .aviso-emotes {
    padding: 20px 20px 10px 20px;
    font-size: 14px;
  }

  .galeria .detalhes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .galeria .div-emote {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .preco-emote h2,
  .preco-chibi h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    width: 100%;
    font-size: 15px;
  }

  .preco-emote,
  .preco-chibi {
    margin-bottom: 30px;
  }


  .ul-galeria {
    padding: 5px 20px;
  }

  /* CSS das imagens abertas*/
  ul {
    width: 360px;
    list-style: none;
    display: flex;
    margin: 0px auto;
  }

  .min {
    width: 80px;
    padding: 7px;
    display: block;
  }

  .box_img {
    max-width: 280px;
    margin: 0 auto;
  }

  .btn {
    font-size: 20px;
  }

  #prev {
    left: 1%;
    top: 25%;
  }

  #next {
    right: 1%;
    top: 25%;
  }

  #close {
    right: 0.5%;
    top: 1%;
  }

  .box_img img {
    opacity: 0;
  }

  .lbox:target .box_img img {
    width: 70%;
    margin-left: 40px;
    margin-top: 10px;
  }

  /*FIM CSS IMAGENS ABERTAS*/

  #voltar-ao-topo {
    padding: 12px;
  }


  /* Página PAGAMENTO */

  .pagamento {
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
    padding: 80px 0px;
    margin: 0 30px;
    gap: 50px;
  }

  .pagamento ul {
    width: 320px;
  }

  .pagamento-direita {
    display: flex;
    justify-content: center;
  }

  .pagamento-direita img {
    width: 60%;
  }

  .pag-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pag-logos img {
    width: 140px;
    height: 140px;
  }

  .importante-esquerda {
    display: none;
  }

  .importante-direita {
    padding: 15px 20px 30px 20px;
  }

  .pag-tarifas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .tarifa-paypal,
  .tarifa-pagseguro {
    padding: 20px;
    border-radius: 15px;
  }

  .pag-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    padding: 20px;
  }

  /* Página PRAZOS */

  .prazo-aviso {
    padding: 80px 10% 150px 10%;
  }

  .prazo-aviso p {
    font-size: 18px;
  }

  .prazo-aviso img {
    padding-top: 40px;
    min-width: 310px;
  }

  /* Página TERMOS */

  .termos {
    min-width: 320px;
    display: block;
    margin: 5px 25px;
    padding-top: 80px;
    text-align: center;
  }


  .termos img {
    width: 50%;
    margin: 0;
    padding-top: 40px;
  }

  .termos-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-termos {
    width: 280px;
    height: 70px;
  }

  /* Página CONTATO */

  .esquerda-col {
    display: none;
  }

  .direita-col {
    width: 100vw;
    padding: 3rem 0 0 1rem;
  }

  .contato-descricao {
    width: 85vw;
  }

  form,
  input,
  select,
  textarea,
  label {
    width: 90vw;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
  }

}